<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine">
    <link rel="stylesheet" type="text/css"
    	media="screen and (max-device-width: 400px)"
	href="tinyScreen.css"/>
    <link rel="stylesheet" type="text/css"
    	media="screen and (min-width: 400px)(max-device-width: 600px)"
	href="samllScreen.css"/>
	<meta http-equiv="content-type" name="viewpoint "content="width=device-width, initial-scale=1"/>
	<title>{{ page.title }}</title>
</head>
<body bgcolor=#000000 text=#FFFFFF>
	{{ content }}
</body>
</html>
